@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nunito+Sans:wght@600&family=Montserrat:wght@600&display=swap');

#container {
  letter-spacing: 1px;
  font-size: 30px;
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tour img {
  max-height: 350px;
}

.tour-details {
  padding: 0 20px;
}

.tour-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}